* {
	padding: 0;
	margin: 0;
}

.contentstyle {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 8px solid #E9967A;
	position: absolute;
}
.center{
	width: 334px;
	height: 142px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -167px;
	margin-top: -71px;
}
.content1{
	left: 0;
	top: 0;
	border-color: #D2691E;
}
.content2{
	left: 120px;
	top: 0;
	border-color: tomato;
	z-index: 2;
}
.content3{
	left: 240px;
	top: 0;
	border-color: rosybrown;
}
.content4{
	left: 60px;
	top: 48px;
	border-color: #2E8B57;
}
.content5{
	left: 180px;
	top: 48px;
	z-index: 2;
}
